extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/',method='post')
  
          
   select(name='selectedKidName') 
    each kid in kids
     option(value=kid.name) #{kid.name}
  
   p Name   
    input(type="text",name='messageName')
   p Book
    input(type='checkbox',name='book')
   P Send   
    input(type='submit',value='Send') 

   p Last email was sent to
    #{lastEmailMessage}
   include letter 
    