- var arr1=['gluing', 'puzzies', 'running', 'running', 'speech', 'communication', 'coloring', ' building', 'jumping','takingTurns', ' paiting', 'dramaticPlay'];
- var arr2= ['throwCatch','sittingWithTheGroup','cuttingWithScissors','Manipulatives','climbing','painting']
- var arr= arr1.concat(arr2)
- var today = new Date().toDateString() 

H1 Beth Shalom
span(style="position: absolute; left: 800px;") Threes

h2 My Day At School...
table(style="width: 100%;")
 tr
  td Name:
   select(name='selectedKidName') 
      each kid in kids
       option(value=kid.name) #{kid.name}  
  td Date:
   | #{today}
h3 Things I worked on Today:
table(style="width: 100%;")
 tr 
  - for (var i=0; i<4; i++)   
   td
    input(type='checkbox',name=arr[i])
    span  #{arr[i]}
 tr 
  - for (var i=4; i<8; i++)   
   td
    input(type='checkbox',name=arr[i])
    span  #{arr[i]}   
 tr 
  - for (var i=8; i<12; i++)   
   td
    input(type='checkbox',name=arr[i])
    span  #{arr[i]}   
 tr 
  - for (var i=12; i<16; i++)   
   td
    input(type='checkbox',name=arr[i])
    span  #{arr[i]}   
 tr 
  - for (var i=16; i<18; i++)   
   td
    input(type='checkbox',name=arr[i])
    span  #{arr[i]}   
 
p Other:
input(type="textArea" ,name='other')
p Books We've Read
input(type="textArea" ,name='books')
p Nap Time
 table
 tr
  td From:  
  td 
   input(type="textArea" ,name='from')    
  td To:  
  td 
   input(type="textArea" ,name='to')

p Meals, I ate:
 select(name='meals') 
  option(value='All') All
  option(value='Some') Some
  option(value='None') None
p Meals, note
 input(type="textArea" ,name='mealNote')          
p Special Activity:
input(type="textArea" ,name='Special Activity')        