- var arr1=['Gluing','Coloring', 'Painting','Cutting With Scissors','Puzzles','Building','Dramatic Play','Manipulatives', 'Running', 'Jumping','Throw Catch','Climbing'];
- var arr2= ['Speech Communication','Taking Turns','Sitting With The Group','Playdough' ]
- var arr= arr1.concat(arr2)
- var today = new Date().toDateString() 

H1 Beth Shalom
span(style="position: absolute; left: 800px;") Threes

h2 My Day At School...
table(style="width: 100%;")
 tr
  td Name:
   select(name='selectedKidName') 
      each kid in kids
       option(value=kid.name) #{kid.name}  
  td Date:
   | #{today}
h3 Things I worked on Today:
table(style="width: 100%;")
 tr 
  - for (var i=0; i<4; i++)   
   td
    input(type='checkbox',name=arr[i])
    span  #{arr[i]}
 tr 
  - for (var i=4; i<8; i++)   
   td
    input(type='checkbox',name=arr[i])
    span  #{arr[i]}   
 tr 
  - for (var i=8; i<12; i++)   
   td
    input(type='checkbox',name=arr[i])
    span  #{arr[i]}   
 tr 
  - for (var i=12; i<16; i++)   
   td
    input(type='checkbox',name=arr[i])
    span  #{arr[i]}   
 
p Other:
 input(type="textArea" ,name='other')
div(style="position:relative;width:1200px;height: 280px;") 
 div(style="position:absolute;top:0;left:0;width:600px") 
  p Books We've Read
  textarea(name='books',rows="4",cols="40")
  p Special Activity
  textarea(name='Special Activity',rows="4",cols="40")         
 div(style="position:absolute;top:0;right:0;width:600px")
  p Nap Time
   table
    tr
     td From:  
     td 
      input(type="textArea" ,name='from')    
     td To:  
     td 
      input(type="textArea" ,name='to')
  br    
  p Meals,  
  p I ate:
  select(name='meals') 
   option(value='All') All
   option(value='Some') Some
   option(value='None') None
  p Note:
  textarea(name='mealNote',rows="2",cols="40")
            
div(style="position:relative;bottom:0") 
 P Send   
  input#send(type='submit',value='Send') 
 p Last email was sent to
  #{lastEmailMessage}
  h2#results